@import "tailwindcss";
@font-face {
   font-family: 'NextF';
   src: url('/fonts/nextf.ttf') format('truetype');

 }
@font-face {
   font-family: 'NextFBlack';
   src: url('/fonts/nextFBlack.ttf') format('truetype');

 }
@font-face {
   font-family: 'NextFBold';
   src: url('/fonts/nextFBoldExtra.ttf') format('truetype');

 }
@font-face {
   font-family: 'NextFMedium';
   src: url('/fonts/nextfMedium.ttf') format('truetype');

 }


 html,body, #root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
 }
 .stroke-text {
   color: transparent;
   -webkit-text-stroke: 2px white;
   -webkit-text-stroke-width: 2px white;
 }
